body {
      background-color:#EAF1F7
}

.thead{
    background-color: #6F9ABC;
    color: white;
}

input[type="number"] {
    width: 3rem;
  }
  td, th {
    padding: 10px 25px;
}

  .card {
    margin-top: 25px;
}
  
  #messages {
    margin-top: 10px;
  } 
  .navbar {
    background-color: #38577C;
  }
  .nav-link {
    color: #EAF1F7
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #browse {
    margin-top: 15px;
  }